.worldCanvasContainer {
  /*position: fixed;
  top: 0;
  left:*/
  height: 100%;
  width: 100%;
  text-align: center;
  transform: scale(1);
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  border: 1px solid #666;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  text-align: center;
  box-sizing: border-box;
}
