.editorCanvasContainer {
  position: relative;
  height: 195px;
  width: 195px;
  text-align: center;
  transform: scale(1);
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}
